<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - YouEvent</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <section class="hero bg-orange-500/5 h-screen flex-grow flex justify-center items-center bg-[url('{{ base_url }}assets/images/loginbg.jpg')] bg-cover bg-center">
    </section>
    <h2>hhhhh</h2>
</body>
</html>
